.outer{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    animation: rainbow 15s alternate-reverse infinite ;
  /* background: linear-gradient(124deg, , #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); */
}

@keyframes rainbow{
    0%{background: 	#FF0000;}
    14%{background: #FF7F00;}
    28%{background: #FFFF00;}
    42%{background: #00FF00;}
    56%{background: #0000FF;}
    70%{background: #4B0082;}
    84%{background: #9400D3;}
}




.inner{
    width:30%;
    height:80%;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow:0 5px 15px black;
    background-color:white;
}

.logo{
    width:80px;
    margin-left: 39.5%;
    border-radius: 5px;
    margin-top:15px;
    margin-bottom: 13%;
}
input{
    border: none;
    outline: none;
    
}

.inputs{
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    /* color: #fff; */
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-left:16%;
}
.input:focus{
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.btn-1{
    width:30%;
    margin-left:34.5%;
    cursor: pointer;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: 6%;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
}
.btn-1:hover{
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
@media(max-width:800px){
    .inner{
        width:90%;
        height:70%;
        /* border: 2px solid black; */
        border-radius: 10px;
        box-shadow:0 5px 15px black;
        background-color:white;
    }
    .inputs{
        margin-left:10%
    }
}
